# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# dbt
target/
dbt_packages/
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# VSCode
.vscode/

# Mac/Linux
.DS_Store

# Local data
data/
